.body {
    background-color: black;
    color: white;
}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    background-color: greenyellow;
}

.grid div {
    height: 80px;
    width: 80px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: red;
}
.c1 {
    background-color: yellow;
}

.c2, .c3 {
    background-color: grey;
}

.l1, .l2, .l3{
    background-color: brown;
}

.l4, .l5 {
    background-color: blue;
}

.frog {
    background-color: green;
}
